
/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#landing {
	
	background: 
		linear-gradient( 
			rgba(0, 0, 0, 0.59),
			rgba(0, 0, 0, 0.59)
	),

		url('./images/bg.jpg');

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;


	
	

}


/*navbar / logo section code start*/

.navbar {
	width: 100%;
	height: 68px;
	opacity: 0px;
	background-color: black;
	
} 

.navbar img {
	width: 35px; 
	height: 35px;
	margin-left: 5rem;
}


.navbar ul {
	margin-right: 5rem;
}

.navbar .navbar-toggler {
	border-color: white;
}
.navbar-custom .navbar-nav .nav-link {
	color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/*navbar / logo section code end*/





/*Landing section code start*/

div a {
	font-family: Montserrat;
	color:  #fff;
}


#link {
	font-family: Montserrat;
	color:#fff;
}


#title-landing {

	font-size: 3rem;
	font-weight: 700;
	color:#fff;
}

#disc {
	font-size: 1rem;
	color:#fff;
}

#me-img {
	box-shadow: 10px 10px 18px black;
}

#about-col-2 img {
	width: 500px;
	margin-left: 5rem;
}


/*Landing section code end*/




/*Project section code start*/

.custom-card {
    border: 2px solid #007bff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 18px black;
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card .card-title {
    font-family: Montserrat;
    font-size: 1.5rem;
    color: #007bff;
}

.custom-card .card-text {
    font-size: 1rem;
    color: #333;
}


.project h5 {
	font-family: Montserrat;
	font-size: 2rem;
}

.project h1 {
	font-family: Montserrat;
	font-size: 3rem;
}

/*Project section code end*/




/* Tools section code start*/
.tools {
	
}


.tools #img-style {
	width: 200px;
	box-shadow: 5px 5px 13px black;
	border-radius: 3rem;
}

.tools #img-style2 {
	width: 200px;
	height: 200px;
	box-shadow: 5px 5px 13px black;
	border-radius: 3rem;
}

 .tools #img-style3 {
	width: 210px;
	height: 200px;
	box-shadow: 5px 5px 13px black;
	border-radius: 3rem;
}

/* Tools section code end*/


iframe {
	width: 400px;
	height: 300px;
	border: 0;
	
}


/*Media query*/

@media (min-width: 276px) {

    .custom-col #title-landing {
       color: red;
       font-size: 5rem;
    }

    .custom-col #disc {
    	font-size: 2rem;
    }

    html {
		font-size: 50%;
	}
   
}

@media (min-width: 768px) {

    .custom-col #title-landing {
       color: white;
        font-size: 3rem;
    }

    .custom-col #disc {
    	font-size: 1rem;
    }

     html {
    	font-size: 100%;
    }
}
